* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 900px;
    background-color: #091034;
}

.section_1 {
    width: 600px;
    height: 160px;
    display: flex;

}

.logo {
    width: 300px;
    height: 160px;
}

.logo>img {
    position: absolute;
    right: 1%;
    top: -1%;
    width: 595px;
}

.gift {
    width: 50%;
    height: 160px;
}

.gift>img {
    position: absolute;
    right: 16%;
    width: 507px;
}


.people_snow {
    display: flex;
}

.people {
    margin-left: -95%;
    margin-top: -31%;
}

.snow {
    margin-top: -31%;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.circle>.img1 {
    position: absolute;
    top: 44%;
    left: 37%;
}

.circle>.img2 {
    position: absolute;
    top: 43%;
    left: 31%;
    animation: gift 15s infinite;
    opacity: 0;
}

@keyframes gift {
    0% {

        transform: scale(0.);
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.);
        opacity: 0;
    }
}


.circle>.img3 {
    position: absolute;
    top: 40%;
    left: 40%;
    animation: gift1 15s infinite;
    opacity: 1;
}

@keyframes gift1 {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(0.);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.img4 {
    width: 151px;
    height: 79px;
    position: absolute;
    top: 61%;
    left: 42%;
}

.text>.img3 {
    position: absolute;
    top: -31%;
    left: 24px;
}

.text>.img1 {
    position: absolute;
    top: -12%;
    left: 5%;
    animation: gift 15s infinite;
    opacity: 0;
}

.text>.img2 {
    position: absolute;
    top: -34%;
    left: 5% ;
    animation: gift1 15s infinite;
    opacity: 0;
}